@import '../../../assets/scss/variables';
@import '../../../assets/scss/utils';

.modal {
    &__header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    &__body {
        width: 100%;
    }

    &__body-search {
        margin-bottom: px-to-rem(12);
        width: 100%;
    }

    &__body-search-icon {
        width: px-to-rem(16);
        height: auto;
    }

    &__body-container {
        display: flex;
        flex-direction: column;
    }

    &__body-container-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: px-to-rem(56);
        cursor: pointer;

        &__inner {
            display: flex;
            align-items: center;
            gap: px-to-rem(8);
        }

        &__inner-image {
            width: px-to-rem(32);
            height: px-to-rem(32);
            border-radius: px-to-rem(6);
        }

        &__inner-name {
            font-size: px-to-rem(18);
            font-weight: 500;
            line-height: 150%;
        }

        &__icon {
            width: px-to-rem(20);
            height: auto;
            opacity: 0;
            transition: opacity 0.15s ease-in-out;

            &--active {
                opacity: 1;
            }
        }
    }

    &__body-button {
        margin-top: px-to-rem(16);
        width: 100%;
    }
}
