@use 'sass:color';

@import '../../../assets/scss/variables';
@import '../../../assets/scss/utils';

.auth {
    width: 100%;
    padding: px-to-rem(16);
    background-color: $color-black-light;
    border-radius: px-to-rem(12);

    @include breakpoint($screen-sm) {
        padding: px-to-rem(20) px-to-rem(16);
    }

    @include breakpoint($screen-md) {
        padding: px-to-rem(24);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__inner-title {
        margin-bottom: px-to-rem(12);
        font-size: px-to-rem(18);
        font-weight: 500;
        line-height: 150%;
    }

    &__inner-description {
        margin-bottom: px-to-rem(16);
        color: $color-white-dark;
        font-size: px-to-rem(14);
        font-weight: 300;
        line-height: 130%;

        @include breakpoint($screen-md) {
            margin-bottom: px-to-rem(24);
        }
    }

    &__inner-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: px-to-rem(52);
        padding: px-to-rem(12);
        border: px-to-rem(2) solid $color-grey;
        background-color: $color-grey;
        border-radius: px-to-rem(12);
        transition: border-color 0.15s ease-in-out;
        cursor: pointer;

        &:hover {
            border-color: color.adjust($color-grey, $lightness: 5%);
        }
    }

    &__inner-button-content {
        display: flex;
        align-items: center;
        gap: px-to-rem(6);
    }

    &__inner-button-content-icon {
        width: px-to-rem(24);
        height: auto;
    }

    &__inner-button-content-text {
        font-size: px-to-rem(18);
        font-weight: 400;
        line-height: 150%;
    }
}
