@import '../../assets/scss/variables';
@import '../../assets/scss/utils';

.dashboard {
    width: 100%;

    &__tickers {
        margin-bottom: px-to-rem(30);
    }

    &__stats {
        margin-bottom: px-to-rem(30);
    }

    &__charts {
        width: 100%;
    }

    &__charts-title {
        margin-bottom: px-to-rem(20);
        font-size: px-to-rem(18);
        font-weight: 500;
        line-height: 150%;
    }

    &__charts-container {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(16);

        @include breakpoint($screen-md) {
            gap: px-to-rem(20);
        }

        @include breakpoint($screen-xl) {
            flex-direction: row;
            align-items: flex-start;
            height: px-to-rem(460);
        }
    }

    &__charts-container-item {
        display: flex;
        width: 100%;
        height: auto;

        @include breakpoint($screen-xl) {
            width: calc((100% - px-to-rem(20)) / 2);
            height: 100%;
        }
    }
}
