@import '../../../assets/scss/variables';
@import '../../../assets/scss/utils';

$header-height: 76;

.menu {
    position: absolute;
    top: px-to-rem($header-height);
    left: px-to-rem(-16);
    display: flex;
    width: 100vw;
    height: calc(100dvh - px-to-rem($header-height));
    background-color: $color-black-light;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &--active {
        pointer-events: all;
        opacity: 1;
    }

    @include breakpoint($screen-md) {
        left: px-to-rem(-30);
    }

    @include breakpoint($screen-lg) {
        all: unset;
    }

    &__list {
        margin-top: px-to-rem(24);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: auto;
        padding-right: px-to-rem(16);

        @include breakpoint($screen-md) {
            margin-top: px-to-rem(28);
            padding-right: px-to-rem(30);
        }

        @include breakpoint($screen-lg) {
            margin: 0;
            flex-direction: row;
            align-items: center;
            gap: px-to-rem(36);
            height: 100%;
            padding: 0;
        }

        @include breakpoint($screen-xl) {
            gap: px-to-rem(56);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        cursor: pointer;

        @include breakpoint($screen-lg) {
            display: none;
        }
    }

    &__button-handler {
        display: none;

        &--active {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__button-handler-icon {
        width: px-to-rem(28);
        height: auto;
        fill: $color-white;
    }
}
