@use 'sass:color';

@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/utils';

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: px-to-rem(44);
    padding: 0 px-to-rem(12);
    border: 1px solid $color-grey;
    background-color: $color-black;
    border-radius: px-to-rem(10);
    transition: border-color 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
        border-color: color.adjust($color-grey, $lightness: 10%);
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: px-to-rem(6);
    }

    &__inner-image {
        width: px-to-rem(24);
        height: px-to-rem(24);
        border-radius: 50%;
    }

    &__inner-text {
        font-size: px-to-rem(16);
        font-weight: 500;
    }

    &__icon {
        stroke: $color-white-dark;
        width: px-to-rem(16);
        height: auto;
    }
}
