@import '../../assets/scss/variables';
@import '../../assets/scss/utils';

.menu {
    position: fixed;
    top: px-to-rem(96);
    right: px-to-rem(-220);
    transition: right 0.25s ease-in-out;
    z-index: 9;

    @include breakpoint($screen-sm) {
        top: px-to-rem(102);
    }

    @include breakpoint($screen-md) {
        top: px-to-rem(116);
    }

    @include breakpoint($screen-lg) {
        right: px-to-rem(-260);
    }

    &--active {
        right: 0;
    }

    @include breakpoint($screen-xl) {
        position: absolute;
        top: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: px-to-rem(1520);
        display: flex;
        justify-content: flex-end;
        pointer-events: none;
    }

    &__inner {
        position: sticky;
        display: flex;
        align-items: flex-start;
    }

    &__handler {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: px-to-rem(64);
        padding: 0 px-to-rem(8);
        background-color: $color-black-light;
        border-radius: 0 px-to-rem(8) px-to-rem(8) 0;
        transform: rotate(180deg);
        cursor: pointer;

        &--active {
            @include shadow(3);
        }

        @include breakpoint($screen-xl) {
            display: none;
        }
    }

    &__handler-text {
        writing-mode: tb-rl;
        color: $color-orange;
        font-size: px-to-rem(18);
        font-weight: 500;
        line-height: 150%;
    }

    &__container {
        width: px-to-rem(220);
        height: auto;
        padding: px-to-rem(24);
        font-family: 'Poppins', sans-serif;
        background-color: $color-black-light;
        border-radius: 0 px-to-rem(12) px-to-rem(12) px-to-rem(12);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s ease-in-out;

        &--active {
            opacity: 1;
            pointer-events: all;
        }

        @include breakpoint($screen-lg) {
            width: px-to-rem(260);
        }

        @include breakpoint($screen-xl) {
            border-radius: px-to-rem(12);
            opacity: 1;
            pointer-events: all;
        }

        @include breakpoint($screen-xxl) {
            width: px-to-rem(300);
        }
    }

    &__container-header {
        width: 100%;
    }

    &__container-header-title {
        font-size: px-to-rem(18);
        font-weight: 500;
        line-height: 150%;

        @include breakpoint($screen-lg) {
            font-size: px-to-rem(24);
            font-weight: 600;
        }
    }

    &__container-divider {
        margin: px-to-rem(16) 0;
        width: 100%;
        height: 1px;
        background-color: $color-grey;
    }

    &__container-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: px-to-rem(12);

        @include breakpoint($screen-lg) {
            gap: px-to-rem(16);
        }
    }

    &__container-list-item {
        display: inline-flex;
        font-size: px-to-rem(16);
        font-weight: 400;
        line-height: 150%;
        transition: color 0.15s ease-in-out;

        &:hover {
            color: $color-orange;
        }

        &--active {
            color: $color-orange;
        }

        @include breakpoint($screen-lg) {
            font-size: px-to-rem(20);
            font-weight: 500;
        }
    }

    &__container-button {
        margin-top: px-to-rem(20);
        max-width: px-to-rem(160);

        @include breakpoint($screen-lg) {
            margin-top: px-to-rem(24);
        }
    }
}
