@import '../../../../../../assets/scss/variables';
@import '../../../../../../assets/scss/utils';

.avatar {
    $moderated: #{&}__moderated;
    $confirmed: #{&}__confirmed;
    $declined: #{&}__declined;

    width: px-to-rem(50);
    height: px-to-rem(50);

    @include breakpoint($screen-md) {
        width: px-to-rem(60);
        height: px-to-rem(60);
    }

    &__upload {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: px-to-rem(2) solid $color-grey;
        background-color: $color-grey;
        border-radius: 50%;
        transition: border-color 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            border-color: $color-blue-light;
        }
    }

    &__upload-icon {
        width: px-to-rem(20);
        height: auto;
        stroke: $color-white;

        @include breakpoint($screen-lg) {
            width: px-to-rem(24);
        }
    }

    &__moderated,
    &__confirmed,
    &__declined {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &__moderated {
        border: px-to-rem(2) solid $color-orange;
        background-color: $color-grey;

        &::after {
            content: 'Avatar under moderation';
            position: absolute;
            left: 0;
            bottom: px-to-rem(-34);
            display: inline-flex;
            align-items: center;
            width: auto;
            height: px-to-rem(30);
            padding: 0 px-to-rem(10);
            white-space: nowrap;
            font-size: px-to-rem(14);
            font-weight: 500;
            background-color: $color-grey;
            border-radius: px-to-rem(6);
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    &__confirmed {
        cursor: pointer;
    }

    &__declined {
        border: px-to-rem(2) solid $color-red;
        background-color: $color-grey;
        cursor: pointer;
    }

    &__moderated-image {
        width: px-to-rem(42);
        height: auto;
        stroke: $color-white;
        fill: $color-white;
        transition: opacity 0.2s ease-in-out;

        #{$moderated}:hover & {
            opacity: 0.2;
        }
    }

    &__confirmed-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: opacity 0.2s ease-in-out;

        #{$confirmed}:hover & {
            opacity: 0.5;
        }
    }

    &__declined-image {
        width: px-to-rem(42);
        height: auto;
        stroke: $color-white;
        transition: opacity 0.2s ease-in-out;

        #{$declined}:hover & {
            opacity: 0.2;
        }
    }

    &__moderated-icon,
    &__confirmed-icon,
    &__declined-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: px-to-rem(20);
        height: auto;
        stroke: $color-white;
        fill: $color-white;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
    }

    &__moderated-icon {
        #{$moderated}:hover & {
            opacity: 1;
        }

        @include breakpoint($screen-lg) {
            width: px-to-rem(24);
        }
    }

    &__confirmed-icon {
        #{$confirmed}:hover & {
            opacity: 1;
        }
    }

    &__declined-icon {
        #{$declined}:hover & {
            opacity: 1;
        }
    }
}
