@import '../../../assets/scss/variables';
@import '../../../assets/scss/utils';

.merchant-item {
    position: relative;
    display: flex;
    width: 100%;
    height: px-to-rem(50);
    padding: 0 px-to-rem(8);
    background-color: $color-black-light;
    border-radius: px-to-rem(6);
    cursor: default;

    @include breakpoint($screen-sm) {
        height: px-to-rem(60);
        padding: 0 px-to-rem(10);
    }

    @include breakpoint($screen-md) {
        height: px-to-rem(80);
        padding: 0 px-to-rem(16);
    }

    @include breakpoint($screen-xl) {
        height: px-to-rem(64);
        padding: 0 px-to-rem(24);
    }

    $root: #{&}__inner;
    $width-sm: calc(100% - px-to-rem(90));
    $width-md: calc(100% - px-to-rem(110));
    $width-lg: calc(100% - px-to-rem(120));

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $color-white;
        font-size: px-to-rem(12);
        font-weight: 500;
        line-height: 130%;

        @include breakpoint($screen-sm) {
            font-size: px-to-rem(16);
            font-weight: 400;
            line-height: 150%;
        }

        @include breakpoint($screen-xl) {
            font-size: px-to-rem(18);
        }
    }

    &__name {
        display: flex;
        align-items: center;
        flex-basis: calc($width-sm * 0.45);
        gap: px-to-rem(6);
        width: 100%;

        @include breakpoint($screen-sm) {
            flex-basis: calc($width-md * 0.4);
        }

        @include breakpoint($screen-md) {
            display: none;
        }

        @include breakpoint($screen-xl) {
            display: flex;
            flex-basis: calc($width-md * 0.25);
            gap: px-to-rem(8);
        }
    }

    &__name-image {
        width: px-to-rem(24);
        height: px-to-rem(24);
        border-radius: 50%;
    }

    &__name-text {
        color: inherit;
        cursor: pointer;
        transition: color 0.15s ease-in-out;

        #{$root}:hover & {
            color: $color-blue-light;
        }
    }

    &__nameweb {
        display: none;

        @include breakpoint($screen-md) {
            display: flex;
            flex-direction: column;
            flex-basis: calc($width-lg * 0.45);
            gap: px-to-rem(4);
        }

        @include breakpoint($screen-xl) {
            display: none;
        }

        &__inner {
            display: flex;
            align-items: center;
            gap: px-to-rem(8);
        }

        &__inner-image {
            width: px-to-rem(24);
            height: px-to-rem(24);
            border-radius: 50%;
        }

        &__inner-text {
            color: inherit;
            cursor: pointer;
            transition: color 0.15s ease-in-out;

            #{$root}:hover & {
                color: $color-blue-light;
            }
        }
    }

    &__nameweb-text {
        display: inline-flex;
        align-self: flex-start;
        color: inherit;
        cursor: pointer;
        transition: color 0.15s ease-in-out;

        &:hover {
            color: $color-blue-light;
        }
    }

    &__website {
        display: none;

        @include breakpoint($screen-xl) {
            display: flex;
            align-items: center;
            flex-basis: calc($width-md * 0.4);
        }
    }

    &__website-text {
        color: inherit;
        cursor: pointer;
        transition: color 0.15s ease-in-out;

        &:hover {
            color: $color-blue-light;
        }
    }

    &__id {
        display: flex;
        align-items: center;
        flex-basis: calc($width-sm * 0.55);

        @include breakpoint($screen-sm) {
            flex-basis: calc($width-md * 0.6);
        }

        @include breakpoint($screen-md) {
            flex-basis: calc($width-lg * 0.55);
        }

        @include breakpoint($screen-xl) {
            flex-basis: calc($width-md * 0.35);
        }
    }

    &__id-inner {
        display: inline-flex;
        align-items: center;
        gap: px-to-rem(6);
        color: $color-white;
        stroke: $color-white;

        &:hover {
            color: $color-blue-light;
            stroke: $color-blue-light;
        }
    }

    &__id-inner-text {
        color: inherit;
        transition: color 0.15s ease-in-out;
    }

    &__id-inner-icon {
        width: px-to-rem(12);
        height: auto;
        stroke: inherit;
        transition: stroke 0.15s ease-in-out;
        cursor: pointer;

        @include breakpoint($screen-sm) {
            width: px-to-rem(16);
        }

        @include breakpoint($screen-md) {
            width: px-to-rem(20);
        }
    }

    &__button {
        width: 100%;
        max-width: px-to-rem(90);

        @include breakpoint($screen-sm) {
            max-width: px-to-rem(110);
        }

        @include breakpoint($screen-md) {
            max-width: px-to-rem(120);
        }
    }

    &__button-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: px-to-rem(30);
        color: $color-white;
        font-size: px-to-rem(12);
        font-weight: 400;
        background-color: $color-grey;
        border-radius: px-to-rem(6);
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: $color-blue-light;
        }

        @include breakpoint($screen-sm) {
            font-size: px-to-rem(14);
            font-weight: 500;
        }
    }
}
