@use 'sass:color';

@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/utils';

.form {
    width: 100%;
    padding: px-to-rem(20);
    background-color: $color-black-light;
    border-radius: px-to-rem(12);

    @include breakpoint($screen-sm) {
        padding: px-to-rem(24);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(20);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(4);
    }

    &__item-label {
        display: inline;
        font-size: px-to-rem(16);
        font-weight: 400;
        line-height: 150%;

        &--required {
            color: $color-red-light;
        }
    }

    &__item-textarea {
        resize: none;
        width: 100%;
        height: px-to-rem(110);
        padding: px-to-rem(12);
        color: $color-white;
        font-size: px-to-rem(18);
        font-weight: 400;
        border: 1px solid $color-grey;
        background-color: $color-black;
        border-radius: px-to-rem(10);
        outline: none;
        transition: border, opacity 0.15s ease-in-out;

        &:hover {
            border: 1px solid color.adjust($color-grey, $lightness: 5%);
        }

        &:focus-within {
            border: 1px solid $color-blue-light;
        }
    }

    &__button {
        margin: px-to-rem(24) auto 0;

        @include breakpoint($screen-sm) {
            display: none;
        }

        &--desktop {
            display: none;

            @include breakpoint($screen-sm) {
                display: flex;
            }
        }
    }
}
