@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/utils';

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: px-to-rem(2);
    width: 100%;
    height: px-to-rem(68);
    padding: 0 px-to-rem(12);
    background-color: $color-black-light;
    border-radius: px-to-rem(12);

    @include breakpoint($screen-md) {
        gap: 0;
    }

    @include breakpoint($screen-lg) {
        padding: 0 px-to-rem(16);
    }

    @include breakpoint($screen-xl) {
        height: px-to-rem(90);
        padding: 0 px-to-rem(20);
    }

    &__header {
        display: flex;
        align-items: center;
        gap: px-to-rem(8);
    }

    &__header-value {
        font-size: px-to-rem(16);
        font-weight: 400;
        line-height: 150%;

        @include breakpoint($screen-lg) {
            font-size: px-to-rem(18);
            font-weight: 500;
        }

        @include breakpoint($screen-xl) {
            font-size: px-to-rem(24);
            font-weight: 600;
        }
    }

    &__header-additional {
        color: $color-green-light;
        font-size: px-to-rem(10);
        font-weight: 400;

        @include breakpoint($screen-lg) {
            font-size: px-to-rem(12);
            font-weight: 500;
        }

        @include breakpoint($screen-xl) {
            font-size: px-to-rem(16);
            font-weight: 400;
            line-height: 150%;
        }
    }

    &__description {
        color: $color-grey-light;
        font-size: px-to-rem(14);
        font-weight: 300;
        line-height: 130%;

        @include breakpoint($screen-xl) {
            font-size: px-to-rem(16);
            font-weight: 400;
            line-height: 150%;
        }
    }
}
