@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/utils';

.payment {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(16);
    width: 100%;

    &__select {
        // ...
    }

    &__currencies {
        // ...
    }

    &__timer {
        // ...
    }
}
