@import '../../../assets/scss/variables';
@import '../../../assets/scss/utils';

.account {
    display: flex;
    align-items: center;
    gap: px-to-rem(6);
    width: auto;

    @include breakpoint($screen-xs) {
        gap: px-to-rem(8);
    }

    @include breakpoint($screen-md) {
        gap: px-to-rem(16);
    }
}
