@import '../../assets/scss/variables';
@import '../../assets/scss/utils';

.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: px-to-rem(76);
    padding: 0 px-to-rem(16);
    border-bottom: px-to-rem(2) solid transparent;
    background-color: transparent;
    backdrop-filter: blur(px-to-rem(10)) brightness(60%);
    transition: .2s ease-in-out;
    transition-property: background-color, border-color;
    z-index: 10;

    @include breakpoint($screen-md) {
        padding: 0 px-to-rem(30);
    }

    @include breakpoint($screen-lg) {
        padding: 0 px-to-rem(40);
    }

    &--active {
        background-color: $color-black-light;

        @include breakpoint($screen-lg) {
            background-color: transparent;
        }
    }

    &--scrolled {
        background-color: $color-black-light;
        border-color: $color-grey;
    }

    &__container {
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: px-to-rem(1200);
        height: 100%;

        @include breakpoint($screen-xl) {
            max-width: px-to-rem(1520);
        }
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-image {
        width: px-to-rem(40);
        height: auto;

        @include breakpoint($screen-md) {
            display: none;
        }

        &--desktop {
            display: none;

            @include breakpoint($screen-md) {
                display: block;
                width: px-to-rem(200);
            }

            @include breakpoint($screen-lg) {
                width: px-to-rem(180);
            }

            @include breakpoint($screen-xl) {
                width: px-to-rem(200);
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: px-to-rem(8);

        @include breakpoint($screen-md) {
            gap: px-to-rem(16);
        }

        @include breakpoint($screen-lg) {
            gap: 0;
        }
    }

    &__menu-account {
        @include breakpoint($screen-lg) {
            display: none;
        }
    }

    &__account {
        display: none;

        @include breakpoint($screen-lg) {
            display: block;
        }
    }
}
